.DS_Store
node_modules
package-lock.json


# local env files
*.env
!.env.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode 
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# coverage directory used by tools like istanbul
coverage/

# statistics about bundeled packages
dist/